<h1 class="main-title"><%= @category.description() %></h1>


<% if @category.recipes == [] %>
<h3 class="no-value-alert">There are no recipes in this cateogory!</h3>

<% else %>

<h2>Here are all the recipes for this category:</h2>
  <ul>
    <% @category.recipes().each do |recipe| %>
      <li>
        <a href="/recipes/<%= recipe.id() %>"><%= recipe.title()%></a>
          <% if recipe.rating.id == 1 %>
          <img class="stars" style="margin-left: 10px" src= '/img/one_star.png'/>
        <% elsif recipe.rating.id == 2 %>
          <img class="stars" style="margin-left: 10px" src= '/img/one_star.jpg'/>
        <% elsif recipe.rating.id == 3 %>
          <img class="stars" style="margin-left: 10px" src= '/img/three_stars.jpg'/>
        <% elsif recipe.rating.id == 4 %>
          <img class="stars" style="margin-left: 10px" src= '/img/four_stars.jpg'/>
        <% elsif recipe.rating.id == 5 %>
          <img class="stars" style="margin-left: 10px" src= '/img/five_stars.jpg'/>
        <% end %>
      </li>
    <% end %>
  </ul>
  <% end %>


  <a href="/recipe/add/category/<%= @category.id %>" role="button" class="btn btn-primary">Add Recipe to <%= @category.description() %></a>
  <div class="container">
    <a href="/" class="btn btn-warning" role="button">Return Home</a></button>
  </div>
